/* Styling resets */

p,
h1,
h2,
blockquote,
body {
  margin: 0px;
  padding: 0px;
}

/* Anything that needs display: flex */
body,
.header,
ul,
.top-section,
.website-intro,
.middle-section,
.four-boxes,
.box {
  display: flex;
}

/* Anything that needs flex-direction: column */
body,
.website-intro,
.middle-section,
.box {
  flex-direction: column;
}

/* Other styling */

body {
  font-family: sans-serif;
}

/* Header styling */

.header {
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 8px 250px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8
}

.header-link {
  font-size:18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  gap: 16px;
}

/* hero top-section styling */

.top-section {
  padding: 100px 250px;
  background-color: #1f2937;
  gap: 96px;
}

.hero-placeholder {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.website-intro {
  gap: 16px;
}

.website-intro,
.hero-placeholder {
  flex: 1;
}

.website-intro > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.website-intro > p {
  font-size:18px;
  color: #e5e7eb;
}

.website-intro > button {
  max-width: 124px;
  background-color: #3882f6;
  color: #f9faf8;
  border-style: none;
  padding: 10px;
  border-radius: 8px;
}

/* middle section styling */

.middle-section {
  align-items: center;
  padding: 48px 250px;
  gap: 48px;
}

.middle-section > h2 {
  font-size:36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.four-boxes {
  justify-content: space-around;
}

.box {
  flex-basis: 150px;
}

.middle-img {
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  height: 150px;
  width: 150px;
}

.box > p {
  color: hsl(0, 0%, 36%);
  font-size: 18px;
  text-align: center;
}